# Python derleme dosyaları
__pycache__/
*.py[cod]
*$py.class

# Sanal ortam (Virtual Environment)
venv/
env/
.env

# Veritabanı (Verilerin Git'e yüklenmemesi, sadece kodun gitmesi için)
*.db
*.sqlite3

# IDE ve Editör dosyaları
.vscode/
.idea/
*.swp

# İşletim sistemi dosyaları
.DS_Store
Thumbs.db